<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.androidtown.mobile_term">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".TestMake"
            android:theme="@style/playTheme" ></activity>
        <activity android:name=".QRImage" />
        <activity android:name=".TestFileList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gachon_Login"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".SplashLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".select_course"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".SplashMain"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PDFActivity"
            android:theme="@style/playTheme"></activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".FileList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Book_Dialog"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FolderPicker"
            android:theme="@style/popupTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
        <service
            android:name=".MP3Service"
            android:enabled="true">
            <intent-filter>
                <action android:name="PLAY" />
                <action android:name="TOGGLE_PLAY" />
                <action android:name="MP4_PLAY" />
                <action android:name="CLOSE" />
            </intent-filter>
        </service>
        <service
            android:name=".RecordService"
            android:enabled="true">
            <intent-filter>
                <action android:name="RECORD" />
                <action android:name="PAUSE" />
                <action android:name="CLOSERECORD" />
            </intent-filter>
        </service>
    </application>

</manifest>